html {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1{
  margin: 0;
  padding: 0;
}

div h1{
  padding-top: 30px;
}

.alerta {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
@media (min-width:768px) {
  .alerta {
      width: auto;
      top: 30px;
      right: 10px;
      left: auto;
  }
}
 
.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2,103,2);
}
 
.alerta-error {
  background-color: rgb(230, 78, 78);
  color: white;
}

.fa-arrow-left{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000000;
  z-index: 10;
  cursor: pointer;
  user-select: none;

}

.fa-arrow-right{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000000;
  z-index: 10;
  cursor: pointer;
  user-select: none; 
}

.slide{
  opacity: 0;
  transition: 1s ease;
  display: flex;
  max-width: 90%
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.contenedor-desc{
  background-color: gray;
  color: white;
  text-align: center;
  padding: 20px;
}

.contenedor-desc h1{
  padding: 20px;
}
.contenedor-desc p{
  text-align: justify;
  padding: 0 200px 0 200px;
}
@media(max-width:768px){
  .contenedor-desc p{
    padding: 0 80px 0 80px;
  }
}

.campo-form input{
  border: none;
  border-bottom: 1px solid black;
}
.campo-form label{
  padding-bottom: 10px;
}

.campo-form .btn{
  border: none;
  background-color:#1F4172 ;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.5s ease;
}
.campo-form .btn:hover{
  background-color: #a54148;
  transition: background-color 0.5s ease;
  cursor: pointer;

}
a{
  font-size: 1.2rem;
}

.contenedor-principal{
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  max-width: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;

}
.btn{
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Roboto';
  text-align: center;
  transition: color .3s ease;
}
.btn:hover{
  color: white;
  border-color: white;
  cursor: pointer;

}

.contenedor-form{
  background-color: white;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contenedor-form h2{
  text-align: center;
}
.campo-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.campo-form input{
  width: 400px;
  
}
.enlace-cuenta{
   padding-left: 50px;
   text-decoration: none;
}

.enlace-cuenta span{
  font-weight: bold;
  text-decoration: underline;
}
.form-container{
  background-color: gray;
  width: 100%;
}

footer{
  display: flex;
  justify-content: space-around;
  background-color: #3b3b3b;
  color: white;
  text-align: center;
}

.data{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.data i{
  padding: .4rem;
}
.about-us{
  text-align: center;
}

.dashboard-container{
  display: flex;
}

.sidebar-container{
  
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 89.3vh;
  text-align: center;
  background-color: #1F4172;
  
}
@media(max-width:768px){
  .sidebar-container{
    height: 100vh;
}
}

.sidebar-item a{
  text-decoration: none;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.sidebar-item i{
  font-size: 25px;
  color: white;
}

@media(max-width:768px){
  .sidebar-item a p{
    display: none;
  }
  .sidebar-item{
    margin: 0;
    width: 70px;
  }

  .sidebar-container{
    width: 70px;
  }
}

.contenedor-addUser{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fields-container{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.fields-container form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.contenedor-datos h1{
  width: 600px;
}

.contenedor-datos h1{
  margin-bottom: 20px;
}
.contenedor-inputs{
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.contenedor-inputs select{
  width: 220px;
}

@media(max-width:768px){
  .contenedor-inputs{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contenedor-inputs label{
    width: 20px;
    text-align: center;
  }

  .contenedor-datos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor-inputs{
    width: 20px;
  }

  .contenedor-empresa{
    width: 250px;
    margin: 0;
  }
}
.contenedor-submit{
  width: 100%;  
}
.contenedor-submit input{
    margin: 0 auto;
}

.contenedor-inputs label{
  width: 300px;
  text-align: left;
}
.contenedor-inputs input[type="date"]{
  width: 220px;
}

.contenedor-empresa{
  height: 550px;
}
.contenedor-funcionario input[type="submit"],
.contenedor-addUser input[type="submit"]{
  margin-top: 20px;
  background-color: #1F4172 ;
  border: 1px solid gray;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: 500ms ease;
  display: flex;
}

.contenedor-addUser input[type="submit"]:hover{
  color: black;
  background-color: white;
}

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media(max-width:768px){

  .contenido-home{
   display: flex;
   flex-direction: column;
   justify-content: center;
  }

  .capacitaciones-home{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.capacitaciones-home ul{
  list-style: none;
  margin: 0;
  padding: 0;

}
.home-container h1{
  width: 100%;
  text-align: center;
}
.contenido-home{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.visitas-home{
  text-align: center;
}
.visitas-home ul{
  margin: 0;
  padding: 0;
}
.visitas-home ul li{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #aeefa5;
  margin-bottom: 10px;
  color: white;
}

.contenedor-gestion{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contenedor-contenido{
  display: flex;
}
.card{
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  
}
.saldo-empresa{
  height: 100%;
}
.saldo-empresa ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 450px;
}

@media(max-width:768px){
  .contenedor-contenido{
    display: flex;
    flex-direction: column;
  }
  .saldo-empresa ul{
    margin-top: 50px;
  }

  .saldo-empresa{
    height: 100%;
  }
}

.contenedor-asesorias{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 835px;
  align-items: center;
}

.estadisticas{
  display: flex;
  justify-content: flex-start;
  width: 100%;

}
.estadisticas div{
  margin-left: 10px;
  background-color: #aeefa5;
  border-radius: 10px;
  padding: 0px 10px;
}

.form-asesoria form{
  display: flex;
  flex-direction: column;
  width: 700px;
}
.form-asesoria form h2{
  text-align: center;
}

.radio-buttons{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.cuerpo-asesoria{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.campo-asesoria{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.cuerpo-asesoria input[type="submit"]{
  width: 250px;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid gray;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}

@media(max-width:768px){
  .estadisticas{
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .estadisticas div{
    margin-top: 20px;
  }
  .contenedor-asesorias{
    height: auto
  }

  .campo-asesoria{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 5px;
  }
  .cuerpo-asesoria{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.contenedor-capacitaciones{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contenedor-capacitaciones input[type="submit"]{
  cursor: pointer;
  transition: 500ms ease;
}

.contenedor-capacitaciones input[type="submit"]:hover{
  background-color: #1F4172;
  color: white;
}
.contenedor-capacitaciones h1{
  text-align: center;
}
.capacitacion-inputs textarea{
  width: 250px;
}
.capacitacion-inputs{
  padding: 10px;
}

.contenedor-capacitaciones h4{
  background-color: #aeefa5;
  width: 350px;
  text-align: center;
  padding: 5px;

}

.contenido-capacitacion form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin: 0 auto;
}

.capacitacion-inputs{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.capacitacion-inputs label{
  width: 100px;
}
.capacitacion-inputs input{
  width: 250px;
}

.contenido-capacitacion form input[type="submit"]{
  margin-top: 20px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid gray;
}

.listado-capacitaciones ul{
  list-style: none;
}

@media(max-width:768px){
  .contenedor-capacitaciones h1{
    display: flex;
    justify-content: center;
  }
  .contenedor-capacitaciones h4{
    display: flex;
    justify-content: center;
  }
  .contenedor-capacitaciones form{
    width: 300px;
  }
}

/*AgregarFuncionario*/
.contenedor-funcionario{
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.title-funcionario h1{
  text-align: center;
  margin-bottom: 40px; 
}
.contenedor-funcionario form{
  margin-top: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%
}

/* Gestión Contrato */
.contenedor-contrato{
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contenido-contrato{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media(max-width:768px){

.contenido-contrato{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contrato-resumen{
  display: flex;
  flex-direction: column;
}

.info-cliente, .info-empresa{
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.campo-contrato{
  width: 200px;
  margin: 0 auto;
  margin-top: 5px;
}

}

.datos-contrato{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.datos-contrato h1{
  margin-bottom: 20px;
}

.info-cliente,.info-empresa{
  display: flex;
  margin: 0 auto;
  width: 500px;
}

.campo-contrato{
  margin-top: 10px;
}

.submit-contrato{
  margin-top: 20px;
}

.campo-contrato input[type="date"]{
  width: 222px;
}
